.todo__header {
  background-image: linear-gradient(
      to right bottom,
      rgba(121, 111, 231, 0.5),
      rgba(37, 99, 96, 0.8)
    ),
    url("https://images.unsplash.com/photo-1540350394557-8d14678e7f91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-size: cover;
  padding: 50px;
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.todo__header .overflow {
  overflow: hidden;
  transform: translateX(10px);
}

.todo__header .overflow h1 {
  margin: 0;
  animation: slideInDate 0.5s ease both;
}

.todo__header .overflow #todaysDate {
  transform: translateX(-96px);
  display: block;
  animation: slideInDate 0.4s 0.1s both;
}

@keyframes slideInDate {
  0% {
    transform: translateX(-249px);
  }

  100% {
    transform: translateX(0);
  }
}
