.todo__input {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 10px #777;
  background: #fff;
  transform: translateY(-40%);
}

.todo__input input {
  width: calc(100% - 60px);
  padding: 10px;
  outline: none;
  display: inline-block;
}

.todo__input input::placeholder {
  font-family: "Montserrat", sans-serif;
}

.todo__input .todo__btn {
  position: absolute;
  display: inline-block;
  border: none;
  padding: 12px;
  background-color: cadetblue;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  color: #fff;
}
